.container {
    width: 550px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
}

.grid-box{
    background-color: pink;
    height: 32px;
    width: 32px;
    border: 1px solid lightgray;
}

.button {
    margin-bottom: 20px;
}